# Auto-added during alignment sweep
__pycache__/server.cpython-311.pyc
dist/uk_ai_act_mcp-1.0.6-py3-none-any.whl
dist/uk_ai_act_mcp-1.0.6.tar.gz
__pycache__/.!19767!server.cpython-311.pyc
__pycache__/auth_middleware.cpython-311.pyc
dist/uk_ai_act_mcp-1.0.9-py3-none-any.whl
dist/uk_ai_act_mcp-1.0.9.tar.gz
